name: Build Artifacts

on:
  push:
    branches: [ "support/*", "dev/*" ] # Detect pushes directly on the "main" branch

jobs:
  build:
    name: "Build plugin and publish to repo"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
          server-id: github
          server-username: GITHUB_ACTOR
          server-password: GITHUB_TOKEN

      - name: Configure Maven settings
        run: |
          mkdir -p ~/.m2
          cat > ~/.m2/settings.xml <<EOF
          <settings>
            <servers>
              <server>
                <id>github</id>
                <username>\${{ github.actor }}</username>
                <password>\${{ secrets.PERSONAL_ACCESS_TOKEN }}</password>
              </server>
            </servers>
          </settings>

      - name: Publish to GitHub Packages
        run: mvn -B -X deploy -DskipTests --file pom.xml
        env:
          GITHUB_ACTOR: xdelox
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}




